@import url(https://fonts.googleapis.com/css?family=Orbitron);

.modal-title{
    left :5vw !important;
    font-family: 'Orbitron',sans-serif;
    font-weight: 900 !important;
    font-size:3vh;
}
.modal-body{
    display: flex;
    flex-direction: column;

}
.big-text{
    display: flex;
    flex-direction: row;
    font-family: 'Orbitron',sans-serif;
    font-weight: 900 !important;
    font-size:3vh;
}
.big-text-wpm{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron',sans-serif;
    font-weight: 900 !important;
    font-size:3vh;
    justify-content: center;
    align-items: center;
}

.big-text-accuracy{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron',sans-serif;
    font-weight: 900;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
}
.small-text{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Orbitron',sans-serif;
    font-weight: 900;
    font-size: 2vh;
}
.small-text-content{
    margin-bottom: 1vh;
}
.modal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.remaining-time{
    top: 0vh;
    left: 49vw;
    position: absolute;
    font-family: 'Orbitron',sans-serif;
    font-weight: 900;
    font-size: 7vh;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    
}
.input-box-solo{
    position: absolute;
    top: 41vh;
    left: 35vw;
    width: 36vw;
    height: 8vh;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 5px 10px 0px;
    font-size: 1.5rem;
}
.input-box-solo:focus {
    outline: none;
    border: none; 
  }
.textbox-solo{
    top: 20vh;
    position: absolute;
    left: 33vw;
    width: 39.6vw;
    height: 19vh;
    overflow-y: hidden;
    font-size: 2.2rem;
    text-align: justify;
}
.characters-solo{
    color: black;
}
.speed-solo{
    position: absolute;
    top: 74.5vh;
    left: 48.1vw;
    width: 20.7vw;
    height: 25.5vh;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    font-size: 1.5rem;
    background-color: #4C4C4E;
    font-family: Arial, Helvetica, sans-serif;
    
}
.acc-solo{
    top: 80vh;
    left: 76vw;
    background-color: white;
    position: absolute;
    width: 24vw;
    height: 20vh;
    border-radius: 10px 0 0 0;
    font-size: 1.5rem;
    background-color: #4C4C4E;
    font-family: Arial, Helvetica, sans-serif;
}

.speed-solo{
    font-weight: 900;
    text-align: center;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.acc-solo{
    text-align: center;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vh;
}

.speed-value{
    text-align: center;
    font-family: 'Orbitron',sans-serif;
    font-weight: 900;
    font-size: 10vh;
}
.acc-value{
    text-align: center;
    font-weight: 900;
    font-family: 'Orbitron',sans-serif;
    font-size: 7vh;
}
